.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
    transition: width 0.3s;
    overflow: hidden;

    &.sidebar-collapsed {
        width: 60px;
    }
    .gold-text {
        color: #ffd700;
        font-size: 17px;
        font-weight: bold !important;
    }
    .sidebar-header {
        padding: 15px;
        display: flex;
        align-items: center;
        background-color: #34495e;
        cursor:grab;
        button {
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 20px;
        }

        span {
            margin-left: 10px;
            margin-bottom: 0;
        }
    }

    ul {
        list-style-type: none;
        font-size: 14px;

        li {
            a {
                display: flex;
                align-items: center;
                padding: 15px;
                color: white;
                text-decoration: none;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #34495e;
                    cursor:grab;
                }

                fa-icon {
                    margin-right: 10px;
                }

                span {
                    white-space: nowrap;
                }
                .fa-chevron-right {
                    transition: transform 0.3s ease;
                    margin-right: 10px;
                }

                .fa-chevron-right.rotate {
                    transform: rotate(90deg);
                }
            }

            ul {
                margin-left: 20px; /* Indentation pour les sous-menus */
                position: relative;

            }
            &.active {
                background-color: #34495e;
            }
        }
    }
    .fa-chevron-right {
        transition: transform 0.3s ease; /* Animation de rotation */
        margin-right: 10px; /* Espacement entre l'icône et le texte */
    }
    
    .fa-chevron-right.rotate {
        transform: rotate(90deg); /* Rotation de 90 degrés pour la flèche */
    }
    ul {
        list-style-type: none;
        padding: 0;

    }

}
.sidebar ul li a {
    padding: 5px 8px; 
}

.sidebar ul li ul {
    margin-top: 2px; 
    margin-bottom: 2px;
}