<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isCollapsed }">
    <div class="sidebar-header" (click)="toggleSidebar()">
            <i class="fas fa-bars"></i> &nbsp; <!-- toggleSidebar -->
            <span *ngIf="!isCollapsed">Menu</span>
    </div>
    <hr>
    <i class="fa-solid fa-chart-line"></i> &nbsp;
    <span *ngIf="!isCollapsed" class="gold-text">Dashboard </span>
    <hr>
    
    <ul>
        <li>
            <a routerLink="/home" routerLinkActive="active">
                <i class="fas fa-home"></i>&nbsp; <!-- Home -->
                <span *ngIf="!isCollapsed">Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/analytics" routerLinkActive="active" (click)="toggleSubMenu('analytics')">
                <i class="fas fa-chart-line"></i>&nbsp; <!-- Analytics -->
                <span *ngIf="!isCollapsed">Analytics</span> &nbsp;&nbsp;&nbsp;
                <i class="fas fa-chevron-right" *ngIf="!isCollapsed" [ngClass]="{ 'rotate': isSubMenuOpen('analytics') }"></i>
            </a>
            <ul *ngIf="!isCollapsed && isSubMenuOpen('analytics')">
                <li><a [routerLink]="['/analytics']" fragment="fundamental">Fundamental Analysis</a></li>
                <li><a [routerLink]="['/analytics']" fragment="technical">Technical Analysis</a></li>
                <li><a [routerLink]="['/analytics']" fragment="sentiment">Sentiment Analysis</a></li>
                <li><a [routerLink]="['/analytics']" fragment="prediction">Prediction</a></li>
              </ul>
        </li>
        <li>
            <a routerLink="/settings" routerLinkActive="active">
                <i class="fas fa-cog"></i>&nbsp; <!-- Settings -->
                <span *ngIf="!isCollapsed">Settings</span>
            </a>
        </li>
        <li>
            <a (click)="toggleSubMenu('customers')">
                <i class="fas fa-users"></i>&nbsp; <!-- Customers -->
                <span *ngIf="!isCollapsed">Customers</span>
            </a>
            <ul *ngIf="!isCollapsed && isSubMenuOpen('customers')">
                <li><a routerLink="/customers/list">List</a></li>
                <li><a routerLink="/customers/add">Add</a></li>
            </ul>
        </li>
        <!-- Add more menu items as needed -->
    </ul>
</div>