<div class="analytics-section" id="fundamental">
  <h2>Fundamental Analysis</h2>
  <div *ngIf="activeSection === 'fundamental'" id="chart-fundamental" style="width: 70%; height: 150px;"></div>
</div>

<div class="analytics-section" id="technical">
  <h2>Technical Analysis</h2>
  <div *ngIf="activeSection === 'technical'" id="chart-technical" style="width: 70%; height: 150px;"></div>
</div>

<div class="analytics-section" id="sentiment">
  <h2>Sentiment Analysis</h2>
  <div *ngIf="activeSection === 'sentiment'" id="chart-sentiment" style="width: 70%; height: 150px;"></div>
</div>

<div class="analytics-section" id="prediction">
  <h2>Prediction</h2>
  <div *ngIf="activeSection === 'prediction'" id="chart-prediction" style="width: 70%; height: 150px;"></div>
</div>
