<div class="home">
    <h1 class="gold-text">Crypto World by Arafet</h1>
    <div>
        <input
            type="text"
            class="form-control"
            placeholder="Search by Coin name"
            [(ngModel)]="searchQuery"
            (keyup.enter)="searchCoin()"
        />
    </div>

    <div *ngIf="currentCoin">
        <h4>Definition</h4>
        <p>{{ currentCoin.definition }}</p>

        <h4>Objectives</h4>
        <p>{{ currentCoin.objectives }}</p>
    </div>

    <div *ngIf="!currentCoin && searchQuery">
        <p>No results found for "{{ searchQuery }}".</p>
    </div>
</div>